# Directories to ignore
logs/
logs/*/
pretrained_models/
checkpoints/
llama_url.txt
google_api.txt

# Specific files
data/dataset_noiseless.tar.gz
data/dataset_noiseless/
data/dataset/
cache/
figs/
checkpoints/
tables/

# File extensions
*.pth
*.npy
*.csv
*.pt

# Optional: Common additional ignores
__pycache__/
*.pyc
*.pyo
*.egg-info/
.DS_Store
.vscode/
.idea/
data/stellar_descriptions_questions_short.json
data/stellar_descriptions_combined.json
data/stellar_descriptions_questions_geometry.json
data/stellar_descriptions_questions_retrieval.json
data/stellar_descriptions_questions_properties.json
data/combined_tmp.json
data/features.npy
data/stellar_topology_neighbors.json
data/stellar_topology_questions.json
data/stellar_topology_questions_small.json
data/stellar_topology_neighbors_small.json
